[submodule "linux-6.12.12-tfw"]
	path = linux-6.12.12-tfw
	url = git@github.com:tempesta-tech/linux-6.12.12-tfw.git
	shallow = true
[submodule "linux-5.10.35-tfw"]
	path = linux-5.10.35-tfw
	url = git@github.com:tempesta-tech/linux-5.10.35-tfw.git
	shallow = true
[submodule "tempesta"]
	path = tempesta
	url = git@github.com:tempesta-tech/tempesta.git
